<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
     <script src="https://unpkg.com/leaflet-geometryutil"></script>
     <script src="/map.js" defer></script>
</head>
<style>
    #map { height: 900px; }
</style>
<body>
    <% if (username) { %>
        <p>Welcome, <%= username %>!</p>
      <% } else { %>
        <p>Welcome!</p>
      <% } %>
    <form action="/logout" method="POST">
        <input type=submit value=Logout>
    </form>

    <h1>List of Files</h1>
    <table>
        <thead>
            <tr>
                <th>File Name</th>
                <th>Creation Date</th>
                <th>Original route</th>
                <th>Map-matched route</th>
            </tr>
        </thead>
        <tbody>

            <% files.forEach(function(file) { %>
                <tr>
                    <td><%= file.name %></td>
                    <td><%= file.createdAt %></td>
                    <td><button onclick="showFileDetails('<%= file.name %>','<%= username %>','original')">Show</button></td>
                    <td><button onclick="showFileDetails('<%= file.name %>','<%= username %>','map-match')">Show</button></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <h2>Upload a ZIP file</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".zip">
        <button type="submit">Upload</button>
    </form>

    <div id="trackModal" >
        <p id="trackModalText"></p>
    </div>

    

    <div id="map" style="z-index: 1;"></div>
    <!-- <script type="module" src="map.js"></script> -->
</body>

<script src="/socket.io/socket.io.js"></script>
<script> 
    const socket = io();
    var username = '<%= username %>'
    socket.emit('set_username', username);

    // Listen for 'processing_complete' event
    socket.on('processing_complete', (message) => {
    // Handle the processing completion message
    console.log('Processing complete:', message);
    alert(message)
    // You can update the UI or perform any other action here
  });
</script>
</html>